# Environment Variables (Secrets)
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
